html, body
{
    margin:0;
    padding:0;
    text-align: center;
    line-height: 1.75rem;
}

body {

    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

}

a:link {
    color: #d32323;
}

nav
{
    width: 100%;
    color: #ffffff;
    background-color: #d32323;
}
 nav a {
   color: #ffffff
 }

.border
{
    border: 0px;
}

.navbar
{
    text-align: center;
    padding: 0px;
}
nav .navbar-brand
{
    width: 100%;
    padding: .5rem 0px;
}

nav .navbar-brand h1 {
    /* size for brand */
    font-size: xx-large;
}

h1 {
  padding: 0;
  margin: 10px;
  margin: 10px 0 0 0;
}

#logo {
  display: inline;
  vertical-align: sub;
}

.subheader {
  margin-bottom: 3px;
}

.search {
  color: #666;
}

/* Not Working
  form {
  display: inline;
  vertical-align: bottom;
} */

.searchBar {
  /* display: inline-block; */
  /* width: 80%; */
  /* background-color: #ffffff; */
  /* height: 25px; */
  /* padding:10px; */
  color: #333;
  /* border: 4px; */
  /* padding: 6px 12px; */
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

span.searchBar, span.input {
  background-color: #ffffff;
  padding: 10px 0 8px 12px;
}

button.searchBar {
  background-color: #d32323;
}

input {
  border-top-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-width: 1.5px;
  height: 20px;
  width: 25%;
  font-size: 14px;
  }

#leftSearchBar {

  margin-left: 12px;
  /* padding-left: 14px;
  border-color: aqua;
border-radius: 4px 0 0 4px;
border-top-left-radius: 4px;
overflow: hidden;
height: 20px; */
}

#lastSearchBox {
  border-right-style: hidden;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main table
{
    /* left-align contents */
    text-align: left;
}

main tfoot
{
    /* boldface tables' footers */
    font-weight: bold;
}

label, .RSVP {
  font-family: monospace, Monaco, "Lucida Console";
  font-size: 1.6em;
  border: none;
  display: inline-block;
}

input[type=radio]:checked + label, button{
  /* color: #FFF; */
  background: #A71C1C;
}

.btn-primary {
border-radius: 0px 4px 4px 0px ;
padding: 6px 12px;
font-weight: normal;
/* background: #d32323; */
vertical-align: middle;
display: inline-block;
}

.radio-group {
/*   display: inline-block; */
  margin: 20px;
  overflow: hidden;
}

.astext {
    font-family: 'Poly', serif;
    color: #d32323;;
    font-size: 1rem;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    background: #fff;
    font-weight: normal;
    line-height: 1.75rem;
}

.float-left input{
  float:left;
}

/*


*/