{% extends "layout.html" %}

<head>
</head>

{% block title %}
    Yelp en Route
{% endblock %}

{% block header %}

<!-- <img align="text-center" width="483px" height="79" src="http://ww-rsvp.herokuapp.com/static/Waynewood_Website-Header.gif"> -->
<h1><a href="http://www.yelp.com" target="_blank"><img id="logo" src="static/yelpLogo.png" width="100"></a> en Route</h1>
<div class="subheader">A personal project by <a href="http://www.ScottLarsen.com" target="_blank">Scott Larsen</a> using the <a href="http://www.yelp.com" target="_blank">Yelp</a> API to search for businesses along a route.</div>

<div class="search">
<form>
    <span class="searchBar">
  <span class="leftSearchBar"> Find </span><input type="text" name="businessType" placeholder="tacos, cheap dinner, Max’s">&nbsp; Start <input type="text" name="gps1" placeholder="34.052235, -118.243683">&nbsp; End <input id="lastSearchBox" type="text" name="gps2" placeholder="34.052235, -118.243683">
  <button class="RSVP btn btn-primary" type="submit"><img src="static/searchIcon.png"></button>
</span>
</form>
</div>


{% endblock %}

{% block main %}

{% if restaurants %}

<div id="map"></div>

<h3>All Results</h3>

<div class="listings">

{% set restaurantsInJinja = dict() %}

{% for restaurant in restaurants %}

{% set i = loop.index %}
{% set x = restaurantsInJinja.__setitem__(i, [restaurant['coordinates']['latitude'], restaurant['coordinates']['longitude'], restaurant['name']]) %}

{{ restaurantsInJinja }}

<div class="listing">
<img align="left" class="photo" src="{{ restaurant['photos'][0][:-5] + 'ls.jpg'}}">
<div><span class="listingTitle">{{ loop.index }}. <a href="{{restaurant['url']}}" class="left">{{ restaurant["name"] }}</a></span><span class="right">{{ restaurant['phone'] }}</span></div>
<!-- <div><a href="{{restaurant['url']}}" class="left">{{ restaurant["name"] }}</a><span class="right">{{ restaurant['display_phone'] }}</span></div> -->

<span class="left {{ 'lemon--div__373c0__1mboc i-stars__373c0__1T6rz border-color--default__373c0__Y1Kuj overflow--hidden__373c0__36tt9 ' ~ stars[(restaurant['rating'] * 2 - 3)|int] }}"></span>
<span class="left lemon--span__373c0__3997G text__373c0__2Kxyz reviewCount__373c0__2r4xT text-color--black-extra-light__373c0__2OyzO text-align--left__373c0__2XGa-">&nbsp;{{ restaurant['review_count']}}</span>
<span class="right">{{ restaurant['location']['address1'] }}</span></br>

{% if restaurant['price'] != "None" %}
    <span class="left">{{ restaurant['price'] }}</span>
{% else %}

{% endif %}

{% for category in restaurant['categories'] %}
<span class="left">{{ category['title'] }}&nbsp;</span>
{% endfor %}
<div class="left">{{ restaurant['reviews'][0]['text'] }}</div>

</div>

{% endfor %}

{% endif %}
</div>






    
    <div style="margin-top: 0px; margin-bottom: 30px; text-align: center;">
            Problem?  E-mail Scott [at] <a href="http://www.ScottLarsen.com">ScottLarsen.com</a>
    </div>

    <script>
        var restaurantsInJavascript = {{ restaurantsInJinja|tojson|safe }};
    </script>

    <script>
        function initMap(){
          // Map options
          var options = {
            zoom:14,
            center:{lat:44.047890,lng:-123.008922}
          }

          // New map
          var map = new google.maps.Map(document.getElementById('map'), options);
    
          // // Listen for click on map
          // google.maps.event.addListener(map, 'click', function(event){
          //   // Add marker
          //   addMarker({coords:event.latLng});
          // });
    
          /*
          // Add marker
          var marker = new google.maps.Marker({
            position:{lat:42.4668,lng:-70.9495},
            map:map,
            icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
          });
    
          var infoWindow = new google.maps.InfoWindow({
            content:'<h1>Lynn MA</h1>'
          });
    
          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
          */
    
          // // Array of markers
          // var markers = [
          //   {
          //       coords:{lat:restaurantsInJavascript[1][0],lng:restaurantsInJavascript[1][1]},
          //       // iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          //       content:'<h2>' + restaurantsInJavascript[1][2] + '</h2>'
          //   }
          // ];
    
          // Loop through markers
          for(var i = 1;i <= 20;i++){
            // Add marker
            if(i in restaurantsInJavascript){
            addMarker({
              coords:{lat:restaurantsInJavascript[i][0],lng:restaurantsInJavascript[i][1]},
                // iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                content:'<h2>' + restaurantsInJavascript[i][2] + '</h2>'}
                );
            }
          }
    
          // Add Marker Function
          function addMarker(props){
            var marker = new google.maps.Marker({
              position:props.coords,
              map:map,
              //icon:props.iconImage
            });
    
            // Check for customicon
            if(props.iconImage){
              // Set icon image
              marker.setIcon(props.iconImage);
            }
    
            // Check content
            if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                content:props.content
              });
    
              marker.addListener('mouseover', function(){
                infoWindow.open(map, marker);
              });

              marker.addListener('click', function(){
                infoWindow.open(map, marker);
              });

              marker.addListener('mouseout', function(){
                infoWindow.close(map, marker);
              });
            }
          }
        }
      </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvUNMQzZVg3Werdmt4jo7F59gBZiM3QI4&callback=initMap"
async defer></script>


{% endblock %}

