{% extends "layout.html" %}

<head>
</head>

{% block title %}
    Yelp en Route
{% endblock %}

{% block header %}

<!-- <img align="text-center" width="483px" height="79" src="http://ww-rsvp.herokuapp.com/static/Waynewood_Website-Header.gif"> -->
<h1><a href="http://www.yelp.com" target="_blank"><img id="logo" src="static/yelpLogo.png" width="100"></a> en Route</h1>
<div class="subheader">A personal project by <a href="http://www.ScottLarsen.com" target="_blank">Scott Larsen</a> using the <a href="http://www.yelp.com" target="_blank">Yelp</a> API to search for businesses along a route.</div>

<div class="search">
<form>
    <span class="searchBar">
  <span class="leftSearchBar"> Find </span><input type="text" name="businessType" placeholder="tacos, cheap dinner, Max’s">&nbsp; Start <input type="text" name="gps1" placeholder="34.052235, -118.243683">&nbsp; End <input id="lastSearchBox" type="text" name="gps2" placeholder="34.052235, -118.243683">
  <button class="RSVP btn btn-primary" type="submit"><img src="static/searchIcon.png"></button>
</span>
</form>
</div>


{% endblock %}

{% block main %}
<!-- {% if restaurants %}

<h1>{{ restaurants }}</h1>

{% endif %} -->

{% for dict_item in restaurants %}
{% for key, value in dict_item.items() %}
<p>{{ Key }} {{ value }}</p>
{% endfor %}
{% endfor %}






    
    <div style="margin-top: 20px;">
            Problem?  E-mail Scott [at] <a href="http://www.ScottLarsen.com">ScottLarsen.com</a>
    </div>

{% endblock %}

