{% extends "layout.html" %}

<head>
</head>

{% block title %}
    Yelp en Route
{% endblock %}

{% block header %}

<!-- <img align="text-center" width="483px" height="79" src="http://ww-rsvp.herokuapp.com/static/Waynewood_Website-Header.gif"> -->
<h1><a href="http://www.yelp.com" target="_blank"><img id="logo" src="static/yelpLogo.png" width="100"></a> en Route</h1>
<div class="subheader">A personal project by <a href="http://www.ScottLarsen.com" target="_blank">Scott Larsen</a> using the <a href="http://www.yelp.com" target="_blank">Yelp</a> API to search for businesses along a route.</div>

<div class="search">
<form>
    <span class="searchBar">
  <span class="leftSearchBar"> Find </span><input type="text" name="businessType" placeholder="tacos, cheap dinner, Max’s">&nbsp; Start <input type="text" name="gps1" placeholder="34.052235, -118.243683">&nbsp; End <input id="lastSearchBox" type="text" name="gps2" placeholder="34.052235, -118.243683">
  <button class="RSVP btn btn-primary" type="submit"><img src="static/searchIcon.png"></button>
</span>
</form>
</div>


{% endblock %}

{% block main %}

{% if restaurants %}

<h3>All Results</h3>

<!-- # Photo
# Rank
# Name
# URL of Yelp Page
# Phone Number
# Rating
# Number of Reviews
# Address (line 1)
# Price
# Style of Restaurant
# Review
# GPS -->

<div class="listings">
{% for restaurant in restaurants %}
<div class="listing">
<img align="left" class="photo" src="{{ restaurant['photos'][0][:-5] + 'ls.jpg'}}">
<div><span class="listingTitle">{{ loop.index }}. <a href="{{restaurant['url']}}" class="left">{{ restaurant["name"] }}</a></span><span class="right">{{ restaurant['phone'] }}</span></div>
<!-- <div><a href="{{restaurant['url']}}" class="left">{{ restaurant["name"] }}</a><span class="right">{{ restaurant['display_phone'] }}</span></div> -->

<span class="left {{ 'lemon--div__373c0__1mboc i-stars__373c0__1T6rz border-color--default__373c0__Y1Kuj overflow--hidden__373c0__36tt9 ' ~ stars[(restaurant['rating'] * 2 - 3)|int] }}"></span>
<span class="left lemon--span__373c0__3997G text__373c0__2Kxyz reviewCount__373c0__2r4xT text-color--black-extra-light__373c0__2OyzO text-align--left__373c0__2XGa-">{{ restaurant['review_count']}}</span>
<span class="right">{{ restaurant['location']['address1'] }}</span></br>

{% if restaurant['price'] != "None" %}
    <span class="left">{{ restaurant['price'] }}</span>
{% else %}

{% endif %}

{% for category in restaurant['categories'] %}
<span class="left">{{ category['title'] }}&nbsp;</span>
{% endfor %}
<div class="left">{{ restaurant['reviews'][0]['text'] }}</div>

</div>

{% endfor %}

{% endif %}
</div>






    
    <div style="margin-top: 0px; margin-bottom: 30px; text-align: center;">
            Problem?  E-mail Scott [at] <a href="http://www.ScottLarsen.com">ScottLarsen.com</a>
    </div>

{% endblock %}

